@inherits LayoutComponentBase
@inject AppTranslate.Translate.IAppTranslate  Translate
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 arFlip">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">@Translate["About"]</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    protected override void OnInitialized()
    {
        Translate.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Translate.OnChange -= StateHasChanged;
    }

}
