@page "/"
@inject AppTranslate.Translate.IAppTranslate Translate

<h1 class="arFlip-1 arAlign">@Translate["Hello, world!"]</h1>

<p class="arFlip-1 arAlign">@Translate["Welcome to your new app"].</p>
<h2 class="arFlip-1 arAlign">@Translate["Hello"]</h2>
