@page "/"
@inject AppTranslate.Translate.IAppTranslate Translate
@implements IDisposable

<h1 class="arFlip-1 arAlign">@Translate["Hello, world!"]</h1>

<p class="arFlip-1 arAlign">@Translate["Welcome to your new app"].</p>
<h2 class="arFlip-1 arAlign">@Translate["Hello"]</h2>

@code{

    protected override void OnInitialized()
    {
        Translate.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Translate.OnChange -= StateHasChanged;
    }
}